// Row
.row {
	@include make-row();

	> * {
		@include make-col-ready();
	}
}

.grid {
	--gutter-y: 60px;
	--gutter-x: var(--gutter-y);
	--border-width: 1px;
	--border-color: #{$gray-300};
	display: flex;
	flex-wrap: wrap;

	> * {
		flex: 0 0 auto;
		width: 100%;
		padding: calc(var(--gutter-y) * .5) calc(var(--gutter-x) * .5);
		border-top: var(--border-width) solid var(--border-color);
	}

	.feature {
		@include col-in-grid(1);
	}

	// Last item.
	> :last-child {
		padding-bottom: 0;
	}
}

.grid-md-2 {
	@include media-breakpoint-up(md) {
		> * {
			width: percentage(divide(1, 2));
			@include col-in-grid(2);
		}
	}

	@include media-breakpoint-up(lg) {
		--gutter-x: 100px;
		--gutter-y: calc(var(--gutter-x) - 4px);
	}
}

.grid-lg-3 {
	@include media-breakpoint-up(lg) {
		> * {
			width: percentage(divide(1, 3));
			@include col-in-grid(3);
		}
	}
}
